<a href="https://colab.research.google.com/github/boneeyah/DS6373/blob/main/HW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import nltk

In [2]:
## vectorize words (from NLTK book)
def vectorize_terms(terms):
    terms = [term.lower() for term in terms]
    terms = [np.array(list(term)) for term in terms]
    terms = [np.array([ord(char) for char in term]) for term in terms]
    return(terms)

In [3]:
terms = ['Miguel', 'Migue']

In [4]:
term_vectors = vectorize_terms(terms)
vec_df = pd.DataFrame(term_vectors)
print(vec_df)

     0    1    2    3    4      5
0  109  105  103  117  101  108.0
1  109  105  103  117  101    NaN

In [5]:
import copy
import pandas as pd
def levenshtein_edit_distance(u, v):
    # convert to lower case
    u = u.lower()
    v = v.lower()
    # base cases
    if u == v: return 0
    elif len(u) == 0: return len(v)
    elif len(v) == 0: return len(u)
    # initialize edit distance matrix
    edit_matrix = []
    # initialize two distance matrices
    du = [0] * (len(v) + 1)
    dv = [0] * (len(v) + 1)
    # du: the previous row of edit distances
    for i in range(len(du)):
        du[i] = i
    # dv : the current row of edit distances
    for i in range(len(u)):
        dv[0] = i + 1
        # compute cost as per algorithm
        for j in range(len(v)):
            cost = 0 if u[i] == v[j] else 1
            dv[j + 1] = min(dv[j] + 1, du[j + 1] + 1, du[j] + cost)
        # assign dv to du for next iteration
        for j in range(len(du)):
            du[j] = dv[j]
        # copy dv to the edit matrix
        edit_matrix.append(copy.copy(dv))
    # compute the final edit distance and edit matrix
    distance = dv[len(v)]
    edit_matrix = np.array(edit_matrix)
    edit_matrix = edit_matrix.T
    edit_matrix = edit_matrix[1:,]
    edit_matrix = pd.DataFrame(data=edit_matrix,
                               index=list(v),
                               columns=list(u))
    print("Edit Distance:",distance)
    print('---------------\n\nMatrix:')
    return edit_matrix
    #return distance, edit_matrix

In [6]:
levenshtein_edit_distance("Miguel","Migue")

Edit Distance: 1
---------------

Matrix:

   m  i  g  u  e  l
m  0  1  2  3  4  5
i  1  0  1  2  3  4
g  2  1  0  1  2  3
u  3  2  1  0  1  2
e  4  3  2  1  0  1